*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    width: 80%;
    height: 400px;
    border: 1px solid red;
    margin: auto;


    display: flex;
    flex-direction: row;


    align-items: flex-end;
    /* 0 - 1 - 1- 0 */
    justify-content: space-between;
    /* 1 - 1 - 1 - 1 */
    justify-content: space-evenly;
    /* 1 - 2 - 2 - 1 */
    justify-content: space-around;
    
    
}
.box{
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    font-size: 3rem;
}
.first{
    background: pink;
    flex: 2;
}
.second{
    flex: 3;
}


.wrapper{
    padding: 50px 10%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    height: 300px;
    border: 1px solid #ddd;
    transition: .3s;
}
.card:hover{
    box-shadow: 10px 8px 20px #0005;
}
.title{
    text-align: center;
    font-size: 3rem;
    padding: 20px;
    color: #fff;
    text-shadow: 0 0 10px dodgerblue;
}